.boxes{
    margin: 40px;
    border: 1px solid black;
    padding: 0px;
}
 .buttons button{
    min-width: 100px;
    margin: 40px;
}

.boxes input{
    width: 100%;
    border: none;
    height: 100%;
}